LIBRARY_PATH=C:\Users\Carlos\Documents\baile
PORT=3000
SQLITE_PATH=C:\Users\Carlos\Documents\proyectos\media-library\data\library.sqlite
FFMPEG_PATH=ffmpeg
FFPROBE_PATH=ffprobe
# UPLOAD_TEMP_PATH=C:\Users\Carlos\Documents\proyectos\media-library\data\upload-temp
# UPLOAD_MAX_BYTES=536870912
